<% include header%>
<section id="main" class="pure-u-3-4">
    <!-- 模块名字 -->
    <header id="module-name">
        <h1>所有分类</h1>
    </header>
    <!-- 模块内容 -->
    <article id="module-content">
        <div class="inner pure-g">
            <div id="module-meta" class="pure-u-2-3">
            </div>
            <section id="module-op" class="pure-u-1-3">
                <a class="pure-button pure-button-success pull-right" href="/admin/category/add">创建</a>
            </section>
        </div>
        <table class="list pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th class="larger">分类</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
              <%category.forEach(function(cat,index){%>
                <tr>
                    <td>
                      <%=cat.category%>
                    </td>
                    <td>
                        
                        <a class="pure-button pure-button-primary" href="/admin/category/<%=cat.cat_id%>/edit">修改</a>
                        <a class="pure-button pure-button-error" onclick="return confirm('此举会删除该分类下的所有文章，却无法恢复?')" href="/admin/category/<%=cat.cat_id%>/delete">删除</a>
                    </td>
                </tr>
              <%})%>
            </tbody>
        </table>
    </article>
</section>
<% include footer%>