            <!-- 边栏 -->
            <nav id="side-nav" class="pure-u-1-4">
                <!-- 站点信息 -->
                <section id="site-infos">
                    <h3>博客管理</h3>
                </section>
                <ul class="items">
                    <li class="item"><a href="/admin/post"><i class="fa fa-gift"></i>文章管理</a></li>
                    <li class="item"><a href="/admin/category"><i class="fa fa-file-text-o"></i>分类管理</a></li>
                </ul>
            </nav>
        </section>
        <footer id="copyleft" class="grid-clean">
            <p>&copy; 2013  Made by <a href="http://silenceper.com">SilencePer</a></p>
        </footer>
    </section>
</body>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="/public/admin/scripts/admin.js"></script>
</html>
