<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理首页</title>
    <link rel="stylesheet" href="/public/admin/styles/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/admin/styles/vendor/pure-min.css" />
    <link rel="stylesheet" href="/public/admin/styles/style.css" />
</head>
<body>
    <section class="container">
        <header id="head" class="pure-g grid">
            <section id="logo" class="pure-u-1-6">
                <a href="/admin/index">
                    <h1>博客管理</h1>
                </a>
            </section>
            <section id="sub-nav" class="pure-u-7-12"></section>
            <nav class="pure-u-1-4" id="head-nav">
                <a class="item" href="javascript:void(0);"><i class="fa fa-user"></i>管理员</a>
                <a class="item" href="/admin/logout"><i class="fa fa-sign-out"></i>注销</a>
            </nav>
        </header>
        <section id="dashboard" class="pure-g grid">